<h1 class="hometitle">AppointMe</h1>
<div class="homepage">
  <p class="homedescription">You can make appointments and set notifications for them. Nothing really works yet but you know, progress bro.</p>
  <%= link_to 'View Your Appointments', appointments_path %>
</div>
