.alert {
  display: inline;
}


 ul.menubar {
   list-style: none;
   margin: 0 0 2em;
   display: inline;
   font-family: georgia;
   font-size: 0.85em;
 }

 div.menubar {
   background-color: black;
   padding: 1% 0;
 }

body {
  margin: 0;
  padding: 0;
}

 ul.menubar li {
   float: right;
   padding: 0 2px;
   color: white;
 }

 ul.menubar li.nav {
   float: left;
 }

 ul.menubar a {
   color: white;
   text-decoration: none;
   padding: 0 3px;
   border: 1px white solid;
   border-radius: 3px;
 }
